<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="BlockCountX" value="40"/>
      <add key="BlockCountY" value="40"/>
      <add key="BlockSize" value="20"/>
      <add key="LineThickness" value="1"/>
      <!-- Colours -->
      <add key="BgColour" value="white"/>
      <add key="GridColour" value="black"/>
      <add key="OColour" value="blue"/>
      <add key="XColour" value="red"/>
    </appSettings>
</configuration>
