<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <!-- Board and block dimensions -->
      <add key="BlockCountX" value="10"/>
      <add key="BlockCountY" value="10"/>
      <add key="BlockSize" value="20"/>
      <add key="LineThickness" value="2"/>
      <!-- Colours -->
      <add key="BgColour" value="white"/>
      <add key="GridColour" value="black"/>
      <add key="OColour" value="blue"/>
      <add key="XColour" value="red"/>
      <!-- Images -->
      <add key="XImagePath" value="x.png"/>
      <add key="OImagePath" value="o.png"/>

      <add key="UseTestGrid" value="0"/> 
    </appSettings>
</configuration>
